<script src="javascripts/jquery-1.11.3.min.js"></script>

<script>

    $(function() {
        var
            $navContent = $('.nav-content'),
            $sections = $('.sections'),
            $sectionsChildren = $sections.children();

        $('.nav-btn').on('click', function (e) {
            $navContent.toggleClass('active');
            e.preventDefault();
        });

        $navContent.on('click', 'a', function (e) {
            var
                $parent = $(this).parent(),
                index = $parent.index(),
                x = -50 * index + "%";
			
				$sections.css({
					'-webkit-transform': 'translate(' + x + ', 0)',
					'msTransform': 'translate(' + x + ', 0)',
					'transform': 'translate(' + x + ', 0)'
				});

            $sectionsChildren.removeClass('active');
            $sectionsChildren.eq(index).addClass('active');

            e.preventDefault();
        });
    });
	
</script>
