<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ie8兼容</title>
<!--[IF IE 8]>
<style>
.chat-jiabin-list{
	position:relative;
	top:23px;
	left:218px;
	width:500px;
	height:500px;
	background:#f6f6f6;
	/*  去除inline-block产生的空白  */
	font-size:0;
    /*根据不同字体字号或许需要做一定的调整*/
	letter-spacing: -4px;
    filter: progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.707, M12=-0.707, M21=0.707, M22=0.707);
	margin-left: -102px;
	margin-top: -102px;
}
.mh-introduce{
	position:relative;
	color:#3b3b3b;
	font-size:13px;
	line-height:18px;
    top:102px;
}
</style>
<![endif]-->
</head>

<body>
</body>
</html>
