<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圆角效果演示</title>
<style>
.yuan {
	border: 1px solid #C0C0C0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	padding:5px;
	background:#FFF;
	z-index:2;
	width:330px;
	height:200px;
	behavior: url(../../styles/iecss3.htc);
}
</style>
</head>

<body>
<div class="yuan">
    DIVCSS5圆角实例<br>
    CSS3版本圆角实例，<br>
    支持低版本IE6-IE9浏览器
</div>
</body>
</html>
